{% extends 'main.html' %}

{% block content %}

<form method="POST" action="" enctype="multipart/form-data" >
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" />

    <!-- ***** to style the form ***** -->

    <!-- {{form.title.label}}
    {{form.title}} -->

    <!-- {% for field in form %}
    <div>
        {{field.label}}
        {{field}}
    </div>
    {% endfor %} -->

    <!-- {{form}} **** this is, by default -->

    {{form.as_p}}




    <input type="submit" value="Submit"/>
</form>

{% endblock content %}