{% extends 'main.html' %}

{% block content %}

<img style="max-width: 500px;" src="{{project.imageURL}}"/>

<h1>{{project.title}}</h1>
{% for tag in project.tags.all %}
    <span style="border: 1px solid #888;padding:  1em;">{{tag}}</span>
{% endfor %}
<p>{{project.description}}</p>

<hr>

{% for review in project.review_set.all %}
<h3>Value</h3>
<p>{{review.value}}</p><br>
<h3>Reviews</h3>
<p>{{review.body}}</p><br>
<h3>Date Created</h3>
<p>{{review.created}}</p>


{% endfor %}


{% endblock content %}